In [ ]:
#experiment 3: Study of tuple in python, name: Divij Bhandari, 25070123160

In [1]:
tpl=(2,True,"Divij")
print(tpl)

(2, True, 'Divij')

In [2]:
tpl2=("apple","banana","orange")
print(tpl2[1])
print(tpl2[-2])

banana
banana

In [3]:
tpl3=("apple","banana","orange")
tpl3[1]="kiwi"
print(tpl3)

TypeError: 'tuple' object does not support item assignment

In [4]:
tpl5=(10,)*5
print(tpl5)

(10, 10, 10, 10, 10)

In [6]:
list1=["symbiosis",]*5
print(list1)

['symbiosis', 'symbiosis', 'symbiosis', 'symbiosis', 'symbiosis']

In [8]:
tpl6=(10)*5
print(tpl6)

50

In [11]:
tpl7=("apple","banana","orange")
print("before:",id(tpl7))
tpl8=("kiwi",)
tpl7+=tpl8
print(tpl7)
print("after:",id(tpl7))

before: 136271813686848
('apple', 'banana', 'orange', 'kiwi')
after: 136271813535808

In [16]:
marks = (90, 82, 66, 76, 33)

maximum = max(marks)
print("Maximum marks:", maximum)

minimum = min(marks)
print("Minimum marks:", minimum)

total_count = len(marks)
print("Total number of marks:", total_count)

total_sum = sum(marks)
print("Sum of marks:", total_sum)

average = sum(marks) / len(marks)
print("Average:", average)

sorted(marks)
print("Marks in ascending order:", marks)

Maximum marks: 90
Minimum marks: 33
Total number of marks: 5
Sum of marks: 347
Average: 69.4
Marks in ascending order: (90, 82, 66, 76, 33)

In [17]:
# Student exam result
result = ("Mathematics", 82, "A")

# Unpack the tuple
subject, marks, grade = result

# Display the information
print("Subject:", subject)
print("Marks Obtained:", marks)
print("Grade:", grade)

# Check for distinction
if marks >= 75:
    print("Distinction")

Subject: Mathematics
Marks Obtained: 82
Grade: A
Distinction

In [19]:
attendance = ("P", "P", "A", "P", "P", "P", "A")

print("=== Employee Attendance Record ===\n")

# Display the attendance record
print("Weekly Attendance:", attendance)
print()

# Count total number of present days
present_days = attendance.count("P")
print("Total Present Days:", present_days)

# Count total number of absent days
absent_days = attendance.count("A")
print("Total Absent Days:", absent_days)

print()

# Check if employee was absent at least once and display message
if "A" in attendance:
    print(f"Message: Employee was present for {present_days} days and absent for {absent_days} days during the week.")
else:
    print(f"Message: Employee was present for all {present_days} days. Perfect attendance!")

=== Employee Attendance Record ===

Weekly Attendance: ('P', 'P', 'A', 'P', 'P', 'P', 'A')

Total Present Days: 5
Total Absent Days: 2

Message: Employee was present for 5 days and absent for 2 days during the week.